<form [formGroup]="registrationForm" (submit)="onSubmit()">

    <div class="wrapper rounded bg-white">
        <div class="h3">Student Registration Form</div>

        <!-- name -->
        <div class="form">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3"> <label for="name">Name</label> 
                <input type="text" 
                name="name"
                id="name" 
                formControlName="name"
                class="form-control" required> 
            </div>
        </div>

         <!-- address -->
        <div class="row">
              <div class="col-md-6 mt-md-0 mt-3"><label for="address">Address</label>
                  <textarea class="form-control" 
                    placeholder="Leave a address here" 
                    name="address"
                    formControlName="address"
                    id="address" >
                 </textarea>
             </div>
             
             <!-- gender -->
             <div class="col-md-6 mt-md-0 mt-3"> 
                      <div class="d-flex align-items-center mt-2">

                        <label class="option" for="gender">Gender:</label>
                        <div>
                          <input id="male" type="radio" value="male" name="gender" formControlName="gender" (change)="changeGender($event)">
                          Male <span class="checkmark"></span>
                       </div>
               
                       <div>
                          <input id="female" type="radio" value="female" name="gender" formControlName="gender" (change)="changeGender($event)">
                          Female <span class="checkmark"></span>
                       </div>
                       
                      </div>
               </div>`
           </div>

         <!-- email -->
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3"> 
                    <label for="email">Email</label> <input type="email" class="form-control" 
                    name="email"
                    id="email"
                    formControlName="email"
                    required> 
                  </div>

            <!-- phonenumber -->
                <div class="col-md-6 mt-md-0 mt-3"> 
                    <label for="contuct">Phone Number</label> <input type="tel" class="form-control" 
                    name="contuct"
                    id="contuct"
                    formControlName="contuct"
                    required> 
                  </div>
            </div>

         <!-- Country -->
            <div class=" my-md-2 my-3">
                <label for="country">Country</label> 
                    <select id="country" formControlName="country" for="country"  required>
                        <option value="">Choose Option</option>
                        <option 
                        id="country"
                        [value]="c" *ngFor="let c of countryDetails" >{{c}}</option>
                    </select>
            </div>

         <!-- terms and conditions -->
            <div class="form-check mt-2">
                 <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" unchecked>
                  <label class="form-check-label" for="flexCheckChecked"> I agree to the terms and conditions of 
                      <a href="" class="login">Privacy & Policy</a> 
                    </label> 
            </div>

         <!-- submit -->
            <div class="d-flex justify-content-between align-items-center">
                <div class="text-right"> <button class="btn btn-success register btn-block" >Submit</button></div>
            </div>
            
        </div>
      </div>
</form>

<table class="table table-dark table-sm">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let d of formData">
            <td>{{d.name}}</td>
            <td>{{d.address}}</td>
            <td>{{d.gender}}</td>
            <td>{{d.email}}</td>
            <td>{{d.contuct}}</td>
            <td>{{d.country}}</td>      
        </tr>
    </tbody>

  </table>